# ****  This was created by the command "make gitignore".
# ****  Do NOT manually edit.
/run
/printing
/testing
/testing2
/tfoverloading
/depth
/indexing
/imaginary
/enableexperiment
/selfmethod
/parmpack
/recurseadd
/testunary
/testunary2
/testunary3
/test4deep
/insideout
/typeinfo
/testbinary
/testrelops
/testternary
/testjoin
/classes
/specialmats
