# ****  This was created by the command "make gitignore".
# ****  Do NOT manually edit.
/run
/dimensions
/expressions
/dotproducts
/type-traits
/math_real
/math_imag
/multiarrays-conversion
/parmpacktwo
/parmpack
/pointersandrefs
/testing2
/tfoverloading
/indexing
/imaginary
/enableexperiment
/selfmethod
/typeinfo
/classes
/testrelops
/multiarraydata
/printing
/recurseadd
/testing
/testing2
/depth
/test4deep
/insideout
/containerdata
/testunary
/testunary2
/testunary3
/testbinary
/testternary
/testjoin
/specialmultiarrays
