# specific files for this project
/make-lib/dirmathq.config.mk
/examples/Makefile
/scripts/__pycache__/

# NOTE: that most of the subdirectories have .gitignore files as well


# temp files
*.g++_copts
*.tmp
*.temp
~*
*~
*.temp.md

.vscode/targets.log

# -------------C++ output files--------------

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app